.form {
  max-width      : 829px;
  display        : flex;
  align-items    : top;
  justify-content: space-between;
  margin         : 0 auto;
  gap            : 12px;
}

.content {
  margin-top     : 48px;
  display        : flex;
  justify-content: center;
  align-items    : flex-end;
  gap            : 10px;
  height         : 140px;
}
