.container {
  display        : flex;
  justify-content: center;
  padding-top    : 120px;
  max-width      : 940px;
  margin         : 0 auto;
  flex-wrap      : wrap;
}

.form {
  display        : flex;
  justify-content: center;
}

.input {
  max-width: 377px;
}

.button {
  max-width: 133px;
}
